<% content_for :title do %>
	About The Firm
<% end %>

<p style="text-indent:40px;">
	Putterman Logan &amp; Giles LLP brings talent and a rich depth of experience to its clients’ legal matters.  Formed in January 2006 by William A. Logan, Jr. (USF ’84, J.D., cum laude) and Anthony D. Giles (Boalt, ’95, J.D.), who practiced law together in the 1990’s at the San Francisco firm of Lasky, Haas &amp; Cohler, Logan &amp; Giles LLP is a complex civil litigation firm that knows how to achieve results.  In August 2011, Don Putterman, who had worked with William Logan at Pillsbury Winthrop (formerly Pillsbury, Madison &amp; Sutro), joined the firm.  Unlike many “specialists”, we recognize that every client and every case is unique and each client has its own needs and goals.  We pride ourselves on quickly mastering the factual and legal issues presented by each case and implementing creative and winning strategies to accomplish our clients’ goals.</p>
	<p style="text-indent:40px;">PLG lawyers are tenacious, and aggressive when necessary to deal with an undisciplined opponent, but always consistent with the client’s objective in the litigation.  We also understand that clients first and foremost want and are entitled to cost-effective representation and resolution.  
</p>
<p>
	<%= link_to 'BASF - Senior Partners Opening Their Own Firms', 'DJPArticle.pdf' %> 
</p>